<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hosting_address" value=""/>
    <add key="hosting_login" value=""/>
    <add key="hosting_pass" value=""/>
    <add key="api_login" value=""/>
    <add key="api_pass" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>